gen/
.idea/
.vscode
build
grammar/*.tokens
grammar/*.listener
grammar/*.base
grammar/antlr
libs/antlr4

/src/antlr/antlr
/libs/antlr4/
/ast.json
/src/modules/runtime.bc
/src/antlr/generated/
/libs/uni-algo/
/src/antlr/tokens/*.tokens
*.zip
libs/*.a