gen/
.idea/
.vscode
build

grammar/*.tokens
grammar/*.listener
grammar/*.base
grammar/antlr

/ast.json

/compiler/antlr/antlr
/compiler/modules/runtime.bc
/compiler/antlr/generated/
/compiler/antlr/tokens/*.tokens

*.zip
libs/*.a
/app
/main.o
cache.json
cmake-build-debug

.DS_Store
app

